@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  scroll-behavior: smooth;
}

:root {
  --blue: #9abec1;
  --black: #333030;
  --red: #e92424;
}

#check, .menu {
  display: none;
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 80%;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.logo .dot {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--black);
  margin: 0.2rem;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}

.nav-links a:last-child {
  margin-right: 0;
}

a:hover {
  color: var(--blue);
  transition: all ease-in-out 300ms;
}

.nav-links .active {
  color: var(--blue);
}

.nav-links a::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--blue);
  width: 0%;
  transition: all ease-in-out 300ms;
}

.nav-links a:hover::after {
  width: 100%;
}


/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #223223;
}

::-webkit-scrollbar-thumb {
  background: #65a069;
}


::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: #76be7b;
}

/* HERO SECTIon */

.hero {
  background: var(--blue);
  padding: 5rem 10% 0rem 10%;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-bg {
  position: absolute;
  background: var(--black);
  width: 65rem;
  height: 37rem;
  border-radius: 20rem;
  transform: rotate(-45deg);
  right: -15.3rem;
  top: -10rem;
  z-index: 0;
}

.hero-bg img {
  transform: rotate(45deg);
  height: 35rem;
  margin-left: 7rem;
}

.hero .intro {
  margin-bottom: 7rem;
  z-index: 1;
  position: absolute;
}

.hero .intro h1 {
  font-size: 70px;
}

.hero .intro h2 {
  margin: 1rem 0;
  font-size: 35px;
}

.hero .intro button {
  background: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  box-shadow: 10px 10px 24px -1px rgba(123, 123, 123, 0.75);

}

.scroll {
  position: absolute;
  bottom: 2rem;
  z-index: 1;
}

.scroll a {
  color: var(--black);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.scroll a:hover {
  color: var(--black);
}

/* BRANDS */
.brands {
  min-height: 100vh;
  padding: 7rem 10%;
  position: relative;
  overflow: hidden;
}

.brands .bottom-img {
  position: absolute;
  right: -15rem;
  bottom: -4rem;
  z-index: 1;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.brand:last-child {
  margin-bottom: 0rem;
}

.brand h2 {
  font-size: 60px;
  color: var(--black);
  margin-bottom: 1rem;
}

.brand img {
  height: 15rem;
}

.brand .img {
  flex: 1;
}

.brand .desc {
  flex: 1;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row-reverse .img {
  display: flex;
  justify-content: flex-end;
}


/* FOOTER */

footer {
  background: var(--black);
  color: white;
  padding: 3rem 0;
  text-align: center;
}


footer .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer .logo .dot {
  background: var(--blue);
}

footer h3 {
  color: var(--blue);
  margin-bottom: 0.5rem;
}

footer p {
  width: 50%;
  margin: 0 auto 2rem auto;
  color: rgb(156, 156, 156);

}

footer .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


footer .social a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1.5rem;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social a:last-child {
  margin-right: 0rem;
}

footer .social svg{
  color: white;
}


/* Responsive design */
@media (max-width: 375px) {
  /* nav */
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    background: rgb(20, 20, 20);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 98;
    transition: all ease-in-out 500ms;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--black);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    right: 2.5rem;
  }

  #check:checked ~ .nav-links {
    right: 0;
  }

  .hero .intro {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    text-align: center;
  }

  .hero .intro h1 {
    font-size: 50px;
  }

  .hero .into h2 {
    font-size: 25px;
  }

  .hero-bg {
    width: 32rem;
    height: 12rem;
    right: -13rem;
    top: 14rem;
    display: flex;
    align-items: center;
  }
  
  .hero-bg img {
    height: 14rem;
    margin-left: 2rem;
  }


  /* BRANDS */

  .brand {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
  }

  .brand h2 {
    font-size: 25px;
  }

  .brand img {
    height: 9rem;
    margin-bottom: 2rem;
  }

  .brands .bottom-img {
    right: -17rem;
    bottom: -9rem;
  }

  footer p {
    width: 80%;
  }
}
